.corpo-conta
{
    background: #141414;
    min-height: 100vh;
    font-family: Helvetica;
    font-weight: 400;
    justify-content: center!important;
    display: flex;
    align-items: center!important;
    text-align: center;
}

body
{
    overflow-x: hidden;
}

*::selection
{
    background: none;
    color: none;
}

h1
{
    color: #fff;
}

.btn-gerenciar
{
    color: #4f4f4f!important;
    border: 1px solid #4f4f4f!important;
    fill: 808080;
    border-radius: 0!important;
    font-size: 17.28px!important;
    width: 200px;
}

.btn-gerenciar:hover
{
    color: #fff!important;
    border-color: #fff!important;
}

.conta
{
    border-radius: 4px;
    height: 150px;
    border: 3px solid #141414;
    cursor: pointer;
}

.conta:hover, .col:hover .conta
{
    border: 3px solid #fff;    
}

.col:hover .img-adicionar-conta
{
    background: #fff;
}

.row
{
    margin: 0 200px!important;
    flex-wrap: nowrap!important;
}

.col
{
    color: #808080;
}

.col:hover
{
    color: #fff
}

.texto
{
    cursor: pointer;
}

.icon-tvuiAdd
{
    font-family: nf-icon!important;
}

.icon-tvuiAdd::before
{
    content: '\e716';
}

.browse
{
    background-image: url("../img/flash.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh!important;
    z-index: 9999;
}
 

.nome-serie
{
    padding-top: 100px!important;
    margin-left: 60px;
    color: #fff;
    font-family: Helvetica;
    font-weight: 400!important;
    font-size: 23.04px;
}

.navbar-light
{
    background: red!important;
}

.navbar
{
    padding-top: 0!important;
}

.menu-right
{
    margin-left: -200px!important;
}

.icon-tvuiAdd{
    font-family: nf-icon;

}

.icon-tvuiAdd:before {
    content: '\e716';
}

.btn-assistir
{
    background: #fff!important;
    padding: 8px 20px!important;
    border: 1px solid #fff!important;
    font-size: 17.28px!important;
    font-weight: 500!important;
    margin-top: 10px;
}

.btn-informacao
{
    color: #fff!important;
    background: #808080!important;
    padding: 8px 20px!important;
    border: 1px solid #808080!important;
    font-size: 17.28px!important;
    font-weight: 500!important;
    margin-top: 10px;
}

.corpo-browse
{
    box-shadow: 0px -20px 50px 57px #141414;
    padding-left: 30px;
    background: #141414;
    min-height: 100vh;
    font-family: Helvetica;
    font-weight: 400;
}

.titulo
{
    color: #fff;
    margin-top: 20px;
}
.carousel
{
    margin-top: 10px;
}

.img-filme
{
    height: 130px!important;
    width: 220px!important;
}

.img-adicionar-conta
{
    background: #808080;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adicionar-conta
{
    min-height: 150px;
    min-width: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#141414;
    font-weight: 700;
    font-size: 100px;
}

/* ==============PAGINA ENTRAR===============  */
:root{
    --vermelho-principal: #e50914;
}
.titulo-entrar
{
    font-size: 35px;
}

.netflix-logo
{
    fill: var(--vermelho-principal)!important;
    width: 150px;
    margin: 15px 20px;
}

.div-entrar
{
    background-color: rgba(0,0,0,.75);
    color: #fff;
    margin-top: 40px;
    min-height: 660px;
    max-width: 450px;
    padding: 50px 67px 45px!important;
    margin: 0 auto;
    border-radius: 5px; 
}

.campo-entrar-email
{
    width: 100%;
    background-color: #333333!important;
    border: 0!important;
    padding: 24px!important;
    margin: 30px 0 0 0;
    font-size: 15px!important;
    color: #fff!important;
}

.campo-entrar-senha
{
    width: 100%;
    background-color: #333333!important;
    border: 0!important;
    padding: 24px!important;
    margin: 20px 0 0 0;
    font-size: 15px!important;
    color: #fff!important;
}

.campo-entrar-email:focus + .laber-email, .campo-entrar-senha:focus + .laber-password, .campo-entrar-senha:valid + .laber-password 
{
    margin-top: -50px!important;
    font-size: 12px;
}

.campo-entrar-email:valid + .laber-email
{
    margin-top: -50px!important;
    font-size: 12px;
}
 

.laber-password, .laber-email
{
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
    color: #8c8c8c;
    transition-duration: 0.2s;

}

.campo-entrar-check
{
    margin: 10px 20px;
    color: #b3b3b3;
    font-size: 15px;
}

.invalid-feedback
{
    color: #e87c03!important;
    margin-top: -6px!important;
    padding: 6px 3px!important;
}

.btn-entrar
{
    color: #fff;
    background: var(--vermelho-principal);
    margin: 35px 0 0 0;
    width: 100%;
    height: 50px;
    font-size: 20px!important;
    font-weight: bold!important;
}

form
{
    margin: 25px 0 0 0;
}

input[type=checkbox]:before 
{
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    background-color: #737373;
    border-radius: 3px;
}

input[type=checkbox]:checked:after 
{
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.facebook
{
    margin: 50px 0 0 0;
    font-size: 15px;
}

.recaptcha
{
    font-size: 14px;
}

.cinza, .cinza:hover
{
    color:#737373;
    text-decoration: none;
}

.assine
{
    margin-top: 10px;
}

.footer-entrar
{
    background: rgba(0,0,0,.75);
    width: 100%;
    bottom: 0!important;
    margin: auto auto;
    position: bottom;
    color: #757575;
    padding: 20px 400px 10px 215px;
    margin-top: 157px;
}
.fundo-entrar
{
    background-image: url("fundo6.jpg");
}

.dropdown-menu
{
    background: #141414!important;
    color: #fff!important;
}

.text1-footer
{
    font-size: 17px;
}

.margin-text-footer
{
    margin-left: -30px!important;
}

.col-3
{
    font-size: 13px;
}

.idioma
{
    padding-left: 35px!important;
    background-color: #000;
    color: #757575;
    padding: 10px;
    border: 1px solid #333;    
    border-radius: 3px;
}

option
{
    background: #000;
}
 